Django
djangorestframework
openai
python-dotenv
boto3
django-cors-headers
python-magic
Pillow
pytesseract
spacy
django-storages
gunicorn
django-filter
drf-spectacular
celery
redis
textblob
scikit-learn
numpy
pandas
requests
python-crontab
django-celery-beat
django-celery-results
